ul {
  padding: 0;
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
li{
  list-style-type: none;
}
.thumbnail{
  margin: 6px 6px;
  border: 4px solid #eee;
  box-shadow: #555 1px 1px 8px 1px;
  cursor: pointer;
  width: 300px;
}
h2 {
  margin-bottom: 20px;
}
